In [1]:
# first to work with pandas, we need to import pandas
# import pandas with alias pd
import pandas as pd

# import numpy with alias np to create random arrays 
import numpy as np

1. Write a Pandas program to create and display a one-dimensional array-like object containing an array of data using Pandas module.

In [3]:
# Series(array): This method creates a series out of an array passed to it.
series = pd.Series(np.random.randint(12, 22, 5))
print('Series: ', series)

Series:  0    13
1    16
2    15
3    12
4    18
dtype: int32

2. Write a Pandas program to convert a Panda module Series to Python list and it's type.

In [6]:
# lets, first create a data series in pandas
series = pd.Series(np.random.randint(12, 22, 5))
print('Series: ', series)
print('\nType of Series: ', type(series))

# now lets convert the series to python list
# series.to_list() : This method converts a series to list.
list = series.tolist()
print('\nList: ', list)
print('\nType of List: ', type(list))

Series:  0    21
1    17
2    14
3    18
4    21
dtype: int32

Type of Series:  <class 'pandas.core.series.Series'>

List:  [21, 17, 14, 18, 21]

Type of List:  <class 'list'>

3. Write a Pandas program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]

In [9]:
# lets create two series as given
series1 = pd.Series([2, 4, 6, 8, 10])
series2 = pd.Series([1, 3, 5, 7, 9])

print('Series1: ', series1)
print('\nSeries2: ', series2)

# addition of two Series
print('\nAddition of two Series: \n', series1 + series2)

# difference of two Series
print('\nDifference between two Series: \n', series1 - series2)

# multiplication of two Series
print('\nProduct of two Series: \n', series1*series2)

# Division between two Series
print('\nDivision of two Series: \n', series1/series2)

Series1:  0     2
1     4
2     6
3     8
4    10
dtype: int64

Series2:  0    1
1    3
2    5
3    7
4    9
dtype: int64

Addition of two Series:
 0     3
1     7
2    11
3    15
4    19
dtype: int64

Difference between two Series:
 0    1
1    1
2    1
3    1
4    1
dtype: int64

Product of two Series:
 0     2
1    12
2    30
3    56
4    90
dtype: int64

Division of two Series:
 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

4. Write a Pandas program to compare the elements of the two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 10]

In [11]:
# first create two series
series1, series2 = pd.Series(np.arange(2, 11, 2)), pd.Series(np.arange(1, 11, 2))
print('Series1: \n', series1)
print('\nSeries2: \n', series2)

# lets compare between Series1 and Series2 
print('\nIs Series1 equals Series2: \n', series1 == series2)

print('\nIs Series1 greaterthan Series2: \n', series1 > series2)

print('\nIs Series1 lessthan Series2: \n', series1 < series2)

Series1:
 0     2
1     4
2     6
3     8
4    10
dtype: int32

Series2:
 0    1
1    3
2    5
3    7
4    9
dtype: int32

Is Series1 equals Series2:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

Is Series1 greaterthan Series2:
 0    True
1    True
2    True
3    True
4    True
dtype: bool

Is Series1 lessthan Series2:
 0    False
1    False
2    False
3    False
4    False
dtype: bool

5. Write a Pandas program to convert a dictionary to a Pandas series.
Sample Series: 
Original dictionary:
{'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Converted series:
a    100
b    200
c    300
d    400
e    800
dtype: int64

In [12]:
# create the dictionary
dictionary = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
print('Original Dictionary: \n', dictionary)

series = pd.Series(dictionary)
print('\nSeries: \n', series)

Original Dictionary:
 {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

Series:
 a    100
b    200
c    300
d    400
e    800
dtype: int64

6. Write a Pandas program to convert a NumPy array to a Pandas series.
Sample Series: 
  NumPy array:
[10 20 30 40 50]
Converted Pandas series:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
arr = np.array([10, 20, 30, 40,50])
print('Array: ', arr)

series = pd.Series(arr)
print('\nSeries: ', series)

Array:  [10 20 30 40 50]

Series:  0    10
1    20
2    30
3    40
4    50
dtype: int32

7. Write a Pandas program to change the data type of given a column or a Series.

In [ ]:
Sample Series: 
    Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
Change the said data type to numeric:
0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [20]:
# lets create the series
series = pd.Series([100, 200, 'python', 300.12, 400])
print('Original Series: \n', series)

print('Numeric Series: \n', pd.to_numeric(series, errors='coerce'))

Original Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object
Numeric Series:
 0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

8. Write a Pandas program to convert the first column of a DataFrame as a Series.

In [22]:
# lets create a dataframe 
df = pd.DataFrame({'a': [1, 2, 3, 4], 'b': [5, 6, 7, 8]})
print('DataFrame: \n', df)

# lets create Series out of first column of the DataFrame
series = pd.Series(df['a'])
print('Series: \n', series)

DataFrame:
    a  b
0  1  5
1  2  6
2  3  7
3  4  8
Series:
 0    1
1    2
2    3
3    4
Name: a, dtype: int64

9. Write a Pandas program to convert a given Series to an array.

In [25]:
series = pd.Series([1, 2, 3, 4, 5])
print('Series: \n', series)

# series.values : This returns a ndarray created using series datas
print('Array: ', series.values)
print('Type of array: ', type(series.values))

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
Array:  [1 2 3 4 5]
Type of array:  <class 'numpy.ndarray'>

10. Write a Pandas program to convert Series of lists to one Series.

In [36]:
# lets create a series from series of lists
series = pd.Series([
    ['Red', 'Green', 'White'],
    ['Red', 'Black'],
    ['Yellow']])
print('Original Series: \n', series)

# series.apply(pd.Series) : This converts each list element into a separate Pandas Series object with one row per element.
# stack() : This is used stack one element per row.
# reset_index(drop=True) : This recreates the indices from begining for each row

print('Series Generated: ')
series.apply(pd.Series).stack().reset_index(drop=True)

Original Series:
 0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
Series Generated:

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

11. Write a Pandas program to sort a given Series.

In [ ]:
Sample Output:
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [39]:
# lets create a series
series = pd.Series(['100', '200', 'python', '300.12', '400'])
print('Original Data Series: \n', series)

# series.sort_values() : This method is used to sort the series elements
print(series.sort_values())

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object
0       100
1       200
3    300.12
4       400
2    python
dtype: object

12. Write a Pandas program to add some data to an existing Series.

In [ ]:
Sample Output: 
Original Data Series:
0       100
1       200
2    python
3    300.12
4       400
dtype: object

Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

In [46]:
# lets create a series
series = pd.Series(['100', '200', 'python', '300.12', '400'])
print('Original Data Series: \n', series)

print('Data Series after adding some data: ')

# pd.concat(series, data_series_to_add, ignore_index=True) : This method adds some data to existing series.
print(pd.concat([series, pd.Series(['500', 'php'])], ignore_index=True))

Original Data Series:
 0       100
1       200
2    python
3    300.12
4       400
dtype: object
Data Series after adding some data:
0       100
1       200
2    python
3    300.12
4       400
5       500
6       php
dtype: object

13. Write a Pandas program to create a subset of a given series based on value and condition.

In [ ]:
Sample Output:
Original Data Series:
0      0
1      1
2      2

....

9      9
10    10
dtype: int64

Subset of the above Data Series:
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int64

In [50]:
series = pd.Series(np.arange(11))
print('Original Data Series: ')
print(series)

# let the value be 6
value = 6
# applying condition, we can create Series
print(series[series < 6])

Original Data Series:
0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
dtype: int32
0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

14. Write a Pandas program to change the order of index of a given series.

In [ ]:
Sample Output:
Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [56]:
series = pd.Series([1, 2, 3, 4, 5], index=['A', 'B', 'C', 'D', 'E'])
print('Original Data Series:')
print(series)

# series.reindex(index=[]) : This method re changes the indices of a Series as specified.
print('Data Series after changing the order of index: ')
print(series.reindex(index=['B', 'A', 'C', 'D', 'E']))

Original Data Series:
A    1
B    2
C    3
D    4
E    5
dtype: int64
Data Series after changing the order of index:
B    2
A    1
C    3
D    4
E    5
dtype: int64

15. Write a Pandas program to create the mean and standard deviation of the data of a given Series.

In [59]:
series = pd.Series([1, 4, 6, 2, 8, 7, 9, 3, 5, 12])
print('Original Series: ')
print(series)

# series.mean() : This method returns the mean of the series
print('Mean of the series: ', series.mean())

# series.std() : This method returns the standard deviation of the series
print('Std of the series: ', series.std())

Original Series:
0     1
1     4
2     6
3     2
4     8
5     7
6     9
7     3
8     5
9    12
dtype: int64
Mean of the series:  5.7
Std of the series:  3.4009802508492557

16. Write a Pandas program to get the items of a given series not present in another given series.

In [67]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
print('Series1: \n', series1)
series2 = pd.Series([2, 4, 6, 8])
print('Series2: \n', series2)

# series1[~series1.isin(series2)] : This statement returns the elements of series1 that are not present in series2.
# series1.isin(series2) : This method returns the true if item of series1 is found in series2 else returns false.
# '~' : This is the not operator
print('Series1 items that are not present in Series2: \n', series1[series1.isin(series2)])

Series1:
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
Series2:
 0    2
1    4
2    6
3    8
dtype: int64
Series1 items that are not present in Series2:
 1    2
3    4
5    6
dtype: int64

17. Write a Pandas program to get the items which are not common of two given series.

In [68]:
series1 = pd.Series([1, 2, 3, 4, 5, 6, 7])
print('Series1: \n', series1)
series2 = pd.Series([2, 4, 6, 8, 9, 5, 10])
print('Series2: \n', series2)

# series1[~series1.isin(series2)] : This statement returns the elements of series1 that are not present in series2.
# series1.isin(series2) : This method returns the true if item of series1 is found in series2 else returns false.
# '~' : This is the not operator

# the below statement creates a series of all element from both the series....
series3 = pd.Series(np.union1d(series1, series2))
# the below statement returns a series of common elements from both the series....
series4 = pd.Series(np.intersect1d(series1, series2))

print('Not Common items in Series: ')
print(series3[~series3.isin(series4)])

Series1:
 0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64
Series2:
 0     2
1     4
2     6
3     8
4     9
5     5
6    10
dtype: int64
Not Common items in Series:
0     1
2     3
6     7
7     8
8     9
9    10
dtype: int64

18. Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series.

In [4]:
series = pd.Series(np.random.randint(12, 22, 10))
print('Series: \n', series)

# series.min() : This method returns the minimum value in the series.
print('Minimum value in the Series: ', series.min())

# series.percentile(25) : This method returns the 25th percentile in the series.
print('25th Percentile of Series: ', np.percentile(series, 25))

# series.median() : This method returns the median value in the series.
print('Median value in the Series: ', series.median())

# 
print('25th Percentile of Series: ', np.percentile(series, 75))

# series.max() : This function returns the maximum value in the series.
print('Maximum value in the series: ', series.max())

Series:
 0    16
1    18
2    16
3    15
4    20
5    21
6    17
7    18
8    20
9    12
dtype: int32
Minimum value in the Series:  12
25th Percentile of Series:  16.0
Median value in the Series:  17.5
25th Percentile of Series:  19.5
Maximum value in the series:  21

19. Write a Pandas program to calculate the frequency counts of each unique value of a given series.

In [9]:
series = pd.Series([1, 1, 2, 2, 2, 3, 3, 3, 3, 4, 5, 7, 7, 7])
print('Series: \n', series)

print('frequency counts of each unique value: ')
series.value_counts()

Series:
 0     1
1     1
2     2
3     2
4     2
5     3
6     3
7     3
8     3
9     4
10    5
11    7
12    7
13    7
dtype: int64
frequency counts of each unique value:

3    4
2    3
7    3
1    2
4    1
5    1
Name: count, dtype: int64

20. Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.

In [10]:
series = pd.Series(['1', '1', '2', '2', '2', '3', '3', '3', '3', '4', '5', '7', '7', '7'])
print('Series: \n', series)

print('Most frequency value: ')
result = series[~series.isin(series.value_counts().index[:1])] = 'Other'
print(series)

Series:
 0     1
1     1
2     2
3     2
4     2
5     3
6     3
7     3
8     3
9     4
10    5
11    7
12    7
13    7
dtype: object
Most frequency value:
0     Other
1     Other
2     Other
3     Other
4     Other
5         3
6         3
7         3
8         3
9     Other
10    Other
11    Other
12    Other
13    Other
dtype: object

21. Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.

In [12]:
series = pd.Series(np.random.randint(12, 23, 10))
print('Series: \n', series)

print('Positions of nums that are multiples of 5: ', (series[series % 5 == 0]).index)

Series:
 0    21
1    14
2    22
3    20
4    18
5    15
6    13
7    13
8    19
9    12
dtype: int32
Positions of nums that are multiples of 5:  Index([3, 5], dtype='int64')

22. Write a Pandas program to extract items at given positions of a given series.

In [13]:
series = pd.Series(np.random.randint(12, 23, 10))
print('Series: \n', series)

positions = [3, 5, 8]
# series.take(indices) : This method returns the item present at the indices mentioned.

print('Elements at given Positions: \n', series.take(positions))

Series:
 0    21
1    15
2    14
3    18
4    14
5    21
6    21
7    14
8    19
9    19
dtype: int32
Elements at given Positions:
 3    18
5    21
8    19
dtype: int32

23. Write a Pandas program convert the first and last character of each word to upper case in each word of a given series.

In [30]:
series = pd.Series(['mad', 'bad', 'sad', 'dad', 'had', 'fed'])
print('Series: \n', series)

# map() : it is a python function.
changed = series.map(lambda x: x[0].upper() + x[1:-1] + x[-1].upper())
print(changed)

Series:
 0    mad
1    bad
2    sad
3    dad
4    had
5    fed
dtype: object
0    MaD
1    BaD
2    SaD
3    DaD
4    HaD
5    FeD
dtype: object

24. Write a Pandas program to calculate the number of characters in each word in a given series.

In [31]:
series = pd.Series(['mad', 'bad', 'sad', 'dad', 'had', 'fed'])
print('Series: \n', series)

chars = series.map(lambda x: len(x))
print('Num of chars in each word in a series: \n', chars)

Series:
 0    mad
1    bad
2    sad
3    dad
4    had
5    fed
dtype: object
Num of chars in each word in a series:
 0    3
1    3
2    3
3    3
4    3
5    3
dtype: int64

25. Write a Pandas program to compute difference of differences between consecutive numbers of a given series.

In [33]:
series = pd.Series([1,3,5,8,13,14,22])
print('Series: \n', series)

# series.diff() : This method returns the differences between two consecutive numbers of the series.
diff = series.diff()
print('Differences: \n', diff)

print('Difference of Differences: \n', diff.diff())

Series:
 0     1
1     3
2     5
3     8
4    13
5    14
6    22
dtype: int64
Differences:
 0    NaN
1    2.0
2    2.0
3    3.0
4    5.0
5    1.0
6    8.0
dtype: float64
Difference of Differences:
 0    NaN
1    NaN
2    0.0
3    1.0
4    2.0
5   -4.0
6    7.0
dtype: float64

26.Write a Pandas program to filter words from a given series that contain atleast two vowels.

In [ ]:
from collections import Counter
series = pd.Series(['Red', 'Green', 'Orange', 'Pink', 'Yellow', 'White'])
print('Series: \n', series)

# the below statement filter words which contain atleast two vowels.
series[series.map(lambda c: sum([Counter(c.lower()).get(i, 0) for i in list('aeiou')]) >= 2)]

27. Write a Pandas program to replace missing white spaces in a given string with the least frequent character.

In [57]:
string = 'madhav believes in hardwork.'
series = pd.Series(['a', 'a', 'a', 'd', 'm', 'm'])
print('Original String: ', string)
print('Series: \n', series)

# the below statement extract the least occuring string from the series.
least_freq_count = series.value_counts().index[-1]

print(''.join(string.replace(' ', least_freq_count)))

Original String:  madhav believes in hardwork.
Series:
 0    a
1    a
2    a
3    d
4    m
5    m
dtype: object
madhavdbelievesdindhardwork.

28. Write a Pandas program to convert given series into a dataframe with its index as another column on the dataframe.

In [62]:
series = pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e'])
print('Series: \n', series)

# df.reset_index() : this method recreates the indices.
df = pd.DataFrame(series).reset_index()
print('DataFrame: \n', df)

Series:
 a    1
b    2
c    3
d    4
e    5
dtype: int64
DataFrame:
   index  0
0     a  1
1     b  2
2     c  3
3     d  4
4     e  5

29. Write a Pandas program to find the index of the first occurrence of the smallest and largest value of a given series.

In [69]:
series = pd.Series(np.random.randint(12, 23, 10))
print('Series: \n', series)

# series.min() : This method returns the minimum value in the series
print('Smallest value: ', series.min())

# series.max() : This method returns the maximum value in the series
print('Largest value: ', series.max())

print('First Occurance of Smallest value: ', series[series == series.min()].index[0])

print('First occurance of Largest value: ', series[series == series.max()].index[0])

Series:
 0    21
1    22
2    21
3    19
4    16
5    21
6    17
7    19
8    14
9    19
dtype: int32
Smallest value:  14
Largest value:  22
First Occurance of Smallest value:  8
First occurance of Largest value:  1